:root {
	--body-padding: 15px;
}

body {
	background: no-repeat fixed center;
	background-size: cover;
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url(https://source.unsplash.com/BXOXnQ26B7o);
	color: #dbdbdb;
}

::-webkit-scrollbar {
	display: none;
}

ul {
	list-style-type: none;
}

.fa-fw {
	width: 1em !important;
	height: 1em !important;
}

.center-full {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pos-fixed {
	position: fixed;
}

.pos-abs {
	position: absolute;
}

/* Smartphone Portrait and Landscape */
@media only screen and (max-width: 500px) {
	:root {
		--body-padding: 5px;
	}
}